$title-grey: #878787;
$black-color:#000000;
$white-color: #ffffff;
$text-grey: #b4b4b4;
$shadow: #00000080;
$box-shadow: #00000033;
$box-shadow-button: #00000033;
$button-hover: #e4e3e3;
$accept: #2ade72;
$accept-hover: #16b355;
$footer-background: #f5f5f5;
$logo-color: #414141;